body{
    background-color: deepskyblue;
}
.jaigordon1{
    background-color: red;
}
.jaiwalker1{
    background-color: gold;
}
.jaigordon2{
    background-color: chartreuse;
}
.jaiwalker2{
    background-color: blue;
}