body{
    background-color: deepskyblue;
}
.jaygordon1{
    background-color: red;
}
.jaywalker1{
    background-color: gold;
}
.jaygordon2{
    background-color: chartreuse;
}
.jaywalker2{
    background-color: blue;
}