Body{
    background-color: chartreuse;
}
.lloyd{
    background-color: red;
}
.lloydgarmadon{
    background-color: gold;
}
.lloydmontgomerygarmadon{
    background-color: darkgreen;
}
.masterlloydmontgomerygarmadon{
    background-color: blue;
}