body{
    background-color: blue;
}
.nya{
    background-color: darkblue;
    
}
.cole{
    background-color: brown;
}
.kai{
    background-color: red;
}
.zane{
    background-color: silver;
}
.jai{
    background-color: lightskyblue;
}
.lloyd{
    background-color: lawngreen;
}
.wu{
    background-color: gold;
}