body{
background-image: linear-gradient(to bottom, #ffff00, #d5db02, #adb802, #889502, #667401, #667401, #667401, #667401, #889502, #adb802, #d5db02, #ffff00);}
.masterwu1{
    background-color: red;
}
.masterwu2{
    background-color: yellow;
}
.masterwu3{
    background-color: chartreuse;
}
.masterwu4{
    background-color: blue;
}