body{
    background-color: yellowgreen;
}
.masterwu1{
    background-color: red;
}
.masterwu2{
    background-color: gold;
}
.masterwu3{
    background-color: chartreuse;
}
.masterwu4{
    background-color: blue;
}